* {
  box-sizing: border-box;
  display: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

img {
  border-radius: 100;
  width: 100px;
  height: 100px;
}

.main-container {
  width: 800px;
  margin:auto;
  
}
.header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background: #3e5c9a;
}

.header h2 {
  margin-top: 5%;
}

.header select {
  margin-top: 5%;
  height: 20px;
}

.status-box {
  color: whitesmoke;
  height: 150px;
  background: darkslategray;
}

/* make the form position absolute */
.input-form {
  display: flex;
}

.status-post-box {
  width: 800px;
  height: 40px;
}

.post-container {
  border: 1px solid black;
  flex-flow: row wrap;
}

.top {
  border: 1px solid black;
  flex-flow: row wrap;
}

.post-container img { 
  border: 1px solid black;
  display: inline-block;
}

.post-interaction-box {
  border: 1px solid black;
}
